@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Work+Sans&display=swap');
:root {
  --color-neon-green-light: #39FF14;
  --color-neon-green: rgb(29,224,3);
  --color-neon-green-darkish: #00A800;
  --color-neon-green-dark: #005700;
  --color-dark-blue: #130A3C;
  --color-sage: #402853;
  --color-republic-red: rgb(132, 4, 4);
  --color-republic-red-light: rgb(172, 51, 51);
  --color-glow: var(--color-neon-green-light);

    /* 
    neon green colors
    #39FF14
    #00E100
    #00C500
    #00A800
    #008C00
    #007100
    #005700
    #003E00
    #002300
    #000000 
  */
  --color-matt-gray: rgb(62, 62, 62);
  --color-contact-gray: #252934;
  --color-contact-darker-gray: #1E242C;
}
@media screen and (max-width: 850px) {
  html {
      font-size: 12px; /* Smaller base size for rem units on mobile */
  }
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-top {
  background-color: transparent;
  top: 0; 
  right: 0;
  position: fixed;
  z-index: 5;
}


.navbar-top ul {
  display: flex;
  
  gap: 1rem;
  flex: 1;
  /*text-align: right;*/
  
  padding: 2rem;
  margin: 0;
  margin-right: 3rem;
}

 .navbar-top ul li {
    list-style: none;
    
    color: var(--color-neon-green);
    display: inline;
    margin: 0 1rem;
    font-size: 1.2rem;
}
.navbar-top a {
  text-decoration: none;
  color: var(--color-neon-green);
  font-weight: 300;
  font-size: 1.2rem;
}

/* space scene */
.scene-container {
  position: relative;
  width: 100%;
  height: 150vh;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}
.title-section {
  position: absolute;
  z-index: 10; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(57, 201, 57);

  display: flex;
  justify-content: center;
  align-items: center;
}

#hello-text {
  font-weight: 300;
  font-size: 2rem;
}
#name {
  font-weight: 400;
  font-size: 3rem;
}
#occupation-text {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}

/* the about section */
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;

  /*margin: 30px;*/
  
  margin: 70px;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--color-glow), /* smaller glow */
               0 0 20px var(--color-glow), /* medium glow */
               0 0 40px var(--color-glow), /* larger glow */
               0 0 80px var(--color-glow); /* outermost glow */
}

#profilePic {
  margin: auto auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  /*border-radius: 50%;
  border: 3px solid var(--color-neon-green-light);*/
}

#about-text {
  justify-self: center; 
  color: white;
  height: 800px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.title-underline {
  background-color: var(--color-neon-green-dark);
  height: 5px;
  width: 60px;
  margin: 1rem auto;
}
.section-title {
  color: var(--color-neon-green);
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
}
#about-text p {
  font-weight: 300;
  font-size: 1.2rem;
}

/* Skills section */
#skills {
  height: 300px;
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  
  /*background-color: black;*/
  /*background: radial-gradient(
    var(--color-neon-green-light) ,
    var(--color-neon-green-dark) 5%,
    black 75%
  );*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills {
    position: absolute;
    z-index: 10; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(57, 201, 57);
  
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills .section-title {
  margin-top: 1rem;
}
.skill-list {
  padding: 0;
  color: white;
  font-weight: 300;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /*gap: 20px;*/
}

.skill-list li {
  background-color: white;
  width: 100px;
  height: 100px;
  
  
  /* background glow */
  margin: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--color-glow), /* smaller glow */
               0 0 20px var(--color-glow), /* medium glow */
               0 0 30px var(--color-glow), /* larger glow */
               0 0 40px var(--color-glow); /* outermost glow */

  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-list li img {
  width: 65%;
  height: 65%;
  object-fit: cover;
}
@media screen and (max-width: 850px) {
  .skill-list li {
    background-color: white;
    width: 80px;
    height: 80px;
    
    
    /* background glow */
    margin: 20px;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-glow), /* smaller glow */
                 0 0 10px var(--color-glow), /* medium glow */
                 0 0 20px var(--color-glow), /* larger glow */
                 0 0 30px var(--color-glow); /* outermost glow */
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

/* Experience section */
#experience {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.timeline {
  margin: 0 auto;
}

/* Projects section */
#projects {
  /*height: 100vh;*/
  /* outer glow */
  margin: 70px;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--color-glow), /* smaller glow */
               0 0 20px var(--color-glow), /* medium glow */
               0 0 40px var(--color-glow), /* larger glow */
               0 0 80px var(--color-glow); /* outermost glow */
}
.project-text {
  justify-self: center; 
  color: white;
  
  width: 100%;
  padding-top: 20px;
}

.project-cards ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.project-cards li {
  list-style: none;
}
.card-left, .card-right {
  border-radius: 15px;
  background-color: var(--color-contact-gray);
  border: 1px solid var(--color-neon-green-darkish);
  width: 80%;
  height: 330px;

  margin: 2rem;
  align-self: flex-start;
}

.card-right {
  float: right;
}


.card-left img, .card-right img {
  width: 50%;
  height: 100%;
  float: left;
  /*object-fit: contain;*/
  
}
@media screen and (max-width: 850px) {
  .card-left img, .card-right img {
    width: 50%;
    object-fit: contain;
  }
}
.card-left img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.card-right img {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  float: right;
}

.card-left-text, .card-right-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.card-title {
  font-weight: 400;
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
}
.categories {
  display: flex;
  justify-content: center;
  gap: 0rem;
  
}
.category, .category-active {
  color: white;
  font-weight: 300;
  font-size: 1.3rem;
  background-color: black;
  border: none;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
}
.category-active {
  background-color:var(--color-republic-red);
  padding: 5px 10px;
}
.project-skills {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.project-skill {
  background-color: rgb(127, 127, 127);
  color: var(--color-neon-green-light);
  border: 1px solid var(--color-neon-green-light);
  border-radius: 15px;
  padding: 5px;
  font-weight: 100;
}
.card-description {
  width: 80%;
}

.project-link {
  text-decoration: none;
  background-color: var(--color-republic-red);
  color: white;
  padding: 5px 15px;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
}
.project-link:hover {
  color: var(--color-republic-red);
  background-color: white;
  border: 2px solid var(--color-republic-red-light);
}

/* Contact section */
#contact {
  height: 100vh;
  width: 100%;
  background-color: var(--color-contact-gray);

  display: flex;
  flex-direction: column;
  align-content: center;
}
.contact-title {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
}
.title-underline-contact {
  background-color: white;
  height: 5px;
  width: 60px;
  margin: 1rem auto;
}
.contact-prompt, .contact-directly {
  text-align: center;
  color: var(--color-neon-green-darkish)
}
.contact-directly {
  margin-top: 100px;
  font-weight: 200;
}
.contact-directly span {
  font-weight: 400;
}

/* the contact form */
.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-row {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1rem 0;
}

.input-row input, .input-row textarea {
  background-color: var(--color-contact-darker-gray);
  width: 100%;
  border-radius: 5px;
  color: gray;
  margin: 0 auto;
  border: 1px solid var(--color-neon-green-dark);
}
.input-row textarea {
  height: 100px;
}
#contact button {
  background-color: white;
  color: var(--color-neon-green-dark);
  border: 2px solid var(--color-neon-green-light);
  border-radius: 20px;
  padding: 0.5rem 2rem;

  font-weight: 400;
  font-size: 1rem;
  font-style: bold;
}
#contact button:hover {
  box-shadow: 0 0 2px var(--color-glow), /* smaller glow */
               0 0 6px var(--color-glow), /* medium glow */
               0 0 12px var(--color-glow), /* larger glow */
               0 0 15px var(--color-glow); /* outermost glow */
}

/* footer */
.footer {
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0;
}
.footer li {
  list-style: none;
}
.footer-rights p {
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-neon-green)
}
